<nav class="blue-grey darken-1">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_left</i>Scrape Left</a>
      <a href="#" data-target="side-burger" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a class="waves-effect waves-light btn-small clear-saved">Clear Saved Articles</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="side-burger">
  <li><a href="/" class="center-align">HOME</a></li>
  <li><a class="waves-effect waves-light btn-small clear-saved">Clear Saved Articles</a></li>
</ul>

<div class="container">
  <div class="row">
    <div class="col s12">
      {{#each articles}}
        <!-- Article --->
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <a target="_blank" href={{{link}}}>{{title}}</a>
            </span>
            <p>
              {{summary}}
            </p>
          </div>
          <div class="card-action">
            <button class="waves-effect waves-light btn modal-trigger view-notes" data-target={{{_id}}} data-id={{{_id}}}>View Notes</button>
            <button class="waves-effect waves-light btn delete-article" data-id={{{_id}}}>Delete From Saved</button>
          </div>
        </div>
        <!-- Notes Modal -->
        <div id={{{_id}}} class="modal">
          <div class="modal-content">
            <h5 class="center-align">Notes for: <span>{{title}}</span></h5>
            <div id="note-area">

            </div>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="note-input" class="materialize-textarea"></textarea>
                    <label for="note-input">New Note</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat save-note" data-id={{{_id}}}>Save</button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>