<div class="container">
  <div class="row">
    <div class="col s12">
      {{#each articles}}
        <!-- Article --->
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{title}}
            </span>
            <p>
              {{summary}}
            </p>
            <p><a target="_blank" href={{{link}}}>{{link}}</a></p>
          </div>
          <div class="card-action">
            <button class="waves-effect waves-light btn modal-trigger view-notes" data-target={{{_id}}} data-id={{{_id}}}>View Notes</button>
            <button class="waves-effect waves-light btn delete-article" data-id={{{_id}}}>Delete Article</button>
          </div>
        </div>
        <!-- Notes Modal -->
        <div id={{{_id}}} class="modal">
          {{> notes}}
        </div>
      {{/each}}
    </div>
  </div>
</div>